// @import url('https://fonts.googleapis.com/css2?family=Bungee&family=Russo+One&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Bungee&family=Gabarito:wght@400..900&family=Galindo&family=Russo+One&display=swap');
@font-face {
  font-family: 'Russo One';
  src: url('/fonts/RussoOne-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Bungee';
  src: url('/fonts/Bungee-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Gabarito';
  src: url('/fonts/Gabarito-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Galindo';
  src: url('/fonts/Galindo-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  height: fit-content !important;
}
* {
  // font-family: "Russo One", serif;
  // font-family: "Galindo", serif;
  font-family: "Gabarito", serif;


  transition: all 0.3s ease-in-out;
}
:root{
  --background-color: #D7D0E2;
  --primary-color: #194cb2;
  --secondary-color: #b91313;
  --third-color: #634726;
  --light-color: #D1E3D5;
  --second-light-color: #E3DBD1;
}
body {
  background-color: var(--background-color);
  margin: 0;
  padding: 0;
  height: 200vh;
}


.loading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background-color: var(--background-color);
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  h1 {
    text-align: center;
    color: var(--third-color);
  }
}


.container {
  width: 100%;
  margin: 0 auto;
  // padding: 0 16px;
}

/* Extra small devices (phones, <576px) */
@media (max-width: 575.98px) {
  .container {
    max-width: 100%;
  }
}

/* Small devices (tablets, ≥576px) */
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

/* Medium devices (desktop, ≥768px) */
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

/* Large devices (large desktops, ≥992px) */
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

/* Extra large devices (larger desktops, ≥1200px) */
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

/* Extra extra large devices (≥1400px) */
@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}
